/* @font-face rules */
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('fonts/league_gothic/League_Gothic-webfont.ttf');
  src: local('?^غ'), ur('fonts/league_gothic/'League_Gothic-webfont.woff') format('woff'), url('fonts/league_gothic/'League_Gothic-webfont.ttf') format('truetype'), url('fonts/league_gothic/'League_Gothic-webfont.svg#webfontOTINA1xY') format('svg');
  font-weight: normal;
  font-style: normal;
}
