/* BASE STYLES */

#navigation {
  margin-bottom: 20px;
}

ul#main-menu {
margin-top: -25px;
}

ul#main-menu li {
  font-family: sans-serif;
  margin-bottom: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  float: left;
  padding: 0 0.41em;
}

ul#main-menu li a {
  color: #666;
  background-color: #E7E7DE;
  padding: 1em 1em .9em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-right: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
  border-left: 1px solid #D7D7D7;
}
  
body {
  font-size: 100%;
  font-family: "Georgia",serif;
  padding: 0;
  margin: 0;
  background-color: #E7E7DE;
  color: #444;
  line-height: 1.7em;
}


/* Hyperlinks */

a {
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  color: #009CBF;
}

a:hover {
  color: #900;
}

a:focus, a:active {
  color: #100;
}

b {
font-family: sans-serif;
}

/* Header Styles */

h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
  }

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.7em;
  line-height: 1.3em;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  clear: both;
}

h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited {
  color: #444;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #000;
}

h1 a:focus, h1 a:active,
h2 a:focus, h2 a:active,
h3 a:focus, h3 a:active,
h4 a:focus, h4 a:active,
h5 a:focus, h5 a:active,
h6 a:focus, h6 a:active {
  color: #444;
}

h1.title, h2.title {
  clear: both;
}

/* Menus */

ul.menu li {
  margin: 0;
  list-style-image: none;
  list-style-type: none;
}


/* Breadcrumb Styles */

#breadcrumb {
  font-family: sans-serif;
  margin-bottom: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  float: left;
}

.breadcrumb {
  padding: 0;
}

#breadcrumb a {
  color: #666;
  background-color: #E7E7DE;
  padding: .5em .5em .4em .5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#breadcrumb a:link, #breadcrumb a:visited {
  color: #666;
}

#breadcrumb a:hover {
  color: #fff;
  background-color: #666;
}

#breadcrumb a:active, #breadcrumb a:focus {
  color: #666;
  background-color: #E7E7DE;
}

/* Taxonomy Styles */

.field-name-field-tags, .field-type-taxonomy-term-reference {
  margin-top: 4px;
}

#block-system-main div.field-type-taxonomy-term-reference div.field-label, #block-system-main div.field-type-taxonomy-term-reference div.field-items, #block-system-main div.field-type-taxonomy-term-reference div.field-item {
  display: inline;
  float: left;
  color: #999;
  font-weight: 100;
  padding: 0 10px 5px 0;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 3px;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1em;
}

.field-name-body {
  clear: both;
  margin-bottom: 2em;
}

/* nodes */

.node .content {
  margin-top: -.1em;
}

.submitted {
  color: #999;
  display: block;
  font-weight: 100;
  padding: 3px 10px 3px 0;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.01em;

}

body.page-node- .submitted {
  margin-top: 1em;
  border-bottom: 3px solid #E7E7DE;
}

.node-teaser {
  padding: 0 0 15px 0;
  border-bottom: 3px solid #E7E7DE;
  margin: 0 0 35px 0;
}

ul.links {
  font-family: sans-serif;
  color: #999;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-top: 1em;
}

li.node-readmore a {
  color: #666;
  background-color: #E7E7DE;
  padding: 1em 1em .9em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

li.node-readmore a:link, li.node-readmore a:visited {
  color: #666;
}

li.node-readmore a:hover {
  color: #fff;
  background-color: #666;
}

li.node-readmore a:active, li.node-readmore a:focus {
  color: #666;
  background-color: #E7E7DE;
}

/* NETWORK AND SITE NAME STYLES */

.network-info {
  height: 16px;
  padding: 5px 0 9px 0;
  background-color: #222;
  box-shadow: 0 1px 7px #222;
  -moz-box-shadow: 0 1px 7px #222;
  -webkit-box-shadow: 0 1px 7px #222;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#222, direction='180', strength='7');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#222, direction='180', strength='7')";
  z-index: 499;
  position: fixed;
  width: 100%;
}

.network-name {
  float: left;
  margin: 0 0 0 1em;
  text-transform: lowercase;
  line-height: 1em;
}

.network-name a {
  color: #fff;
  border: none !important;
  font-weight: 100;
  font-style: italic;
  font-size: .8em;
}

.name-separator {
  margin: 0 1em;
  padding: 5px 0 0 0;
  font-size: 0.6em;
  float: left;
  color: #888;
  line-height: 1em;
}

#site-name {
  font-style: italic;
  color: #fff;
  font-size: 0.8em;
  float: left;
  line-height: 1em;
  padding: 3px 0 0 0;
  margin: 0 20px 0 0;
}

#site-name a {
  color: #fff;
}

#site-slogan {
  color:#CCCCCC;                                                                                                                 
  float:left;
  font-size: 0.7em;
  font-weight:100;
  line-height:0.6em;
  margin-top: 8px;
  text-transform:uppercase;
}

#navigation-secondary {
  float: right;
  margin-top:  1px;
  line-height: 1em;
}

#secondary-menu {
margin-top: -25px;
margin-right: 5px;
overflow: hidden;
}

#secondary-menu a:link, #secondary-menu a:visited {
  font-family: "Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif;
  font-weight: 100;
  color: #EFF;
}

/* MOBILE / base styles */

/* NETWORK AND SITE NAME STYLES */
.site-home {
  padding-top: 50px;
  width: 480px;
  margin: 0 auto 0 auto;
}

.site-home a {
  font-family: 'LeagueGothicRegular', sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 3.3em;
  color: #444;
  text-shadow: #eee 2px 2px 1px;
}

.site-home .site-short-name {
  font-size: 5.5em;
}

.site-home .network {
  font-size: 2em;
}

/* LAYOUT */

#main-wrapper {
  width: 100%;
  margin: 40px auto 0 auto;
  background-color: #fff;
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
}

#content-wrapper {
  padding: 2em;
  clear: both;
  width: 80%;
  margin: -32px auto 0 auto;
}

#content-wrapper .section {

}

#content {
  width: 480px;
    margin: 0 auto 0 auto;
  background-color: #fff;
}

/* first sidebar */

#sidebar-first {

}

#sidebar-first h2 {
}

#sidebar-first ul.menu li {
  display: block;
  margin-right: 1px;
  font-weight: 900;
  font-family: sans-serif;
  line-height: 1.3em;
  margin-top: 10px;
  text-transform: uppercase;
  font-size:1.1em;
    text-shadow: #e9e9e9 1px 1px 1px;

}

#sidebar-first ul.menu li a {

}

/* second sidebar */

#sidebar-second {

}

/* at least 960px wide */

@media screen and (min-width: 960px) {

  #main-wrapper {
  }

  #content-wrapper {
  }

  #content {
  }

  /* first sidebar */

  #sidebar-first {
    width: 200px;        
    position: fixed;
    top: 270px;
    left: 25px;
  }

  /* second sidebar */

  #sidebar-second {
    width: 175px;        
    position: absolute;
    top: 270px;
    right: 25px;
  }
}

/* at least 1024px wide */

@media screen and (min-width: 1024px) {

  #main-wrapper {
  }

  #content-wrapper {
  }

  #content {
  }

  /* first sidebar */

  #sidebar-first {
    width: 200px;        
    position: fixed;
    top: 300px;
    left: 50px;
  }

  /* second sidebar */

  #sidebar-second {
    width: 175px;        
    position: absolute;
    top: 300px;
    right: 50px;
  }
}

/* at least 1150px wide */

@media screen and (min-width: 1150px) {

  #main-wrapper {
  }

  #content-wrapper {
  }

  #content {
  }

  /* first sidebar */

  #sidebar-first {
    width: 200px;        
    position: fixed;
    top: 300px;
    left: 100px;
  }

  /* second sidebar */

  #sidebar-second {
    width: 175px;        
    position: absolute;
    top: 300px;
    right: 100px;
  }
}

/* HDTV / HIGH ASPECT RATIO */

#main-wrapper {

}

#content-wrapper {
}

#content {
}

/* first sidebar */

#sidebar-first {
}

/* second sidebar */

#sidebar-second {
}





/* tab styles */

.tabs ul {
  font-size: 0.6em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  font-family: sans-serif;
  border: 0;
  float: right;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #999;
}

.tabs ul li a:link {
  padding: 8px 10px 7px 10px;
  background: none;
  border: none;
}

.tabs ul li a:hover, .tabs ul li a:active, .tabs ul li a:focus {
  background-color: #e6e6e6;
  padding: 8px 10px 7px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
}

/* forms */

form {
  font-family: "Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif;
}

.form-item {
  margin-top: 15px;
}

.form-item .description {
  color: #777;
  font-size: 0.8em;
  margin-top: 5px;
}

.form-item:hover .description {
  color: #333;
}

label {
  text-transform: uppercase;
  color: #888;
  font-weight: bold;
  font-size: 10px;
}

input.form-text, textarea.form-textarea, select.form-select {
  border: 1px solid #CCC;
  border-radius: 3px;
  margin-top: 2px;
}

input.form-text:hover, textarea.form-textarea:hover, select.form-select:hover {
  background: #ececec;
}

input.form-text:focus, textarea.form-textarea:focus, select.form-select:focus {
  background: #ececec;
}

input, textarea {
  font-size: 0.9em;
  padding: 8px;
}

input, textarea, select, a.button {
  margin: 0;
}

.resizable-textarea .grippie {
  background: white url(images/grippie.png) no-repeat center 2px;
  border: 1px solid white;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

form fieldset {
  border: 0;
  background-color: #e9e9e9;
  border-radius: 3px;
  font-size: 0.7em;
}
input.form-submit, a.button {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #FFFFFF;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  color: #3A3A3A;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  text-align: center;
  height: 35px;
}

input.form-submit:hover {
background: #eaeaea;
}

input.form-submit:active, input.form-submit:focus {
background: #777;
border-color: #777;
}

/* form errors */

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #990000;
  padding: 8px;
}



/* SYSTEM STYLES */


/* messages */
div.messages {
  padding: 10px 10px 8px 10px;
  margin: 0 0 25px 0;
  font-family: sans-serif;
}

div.status {
  background-image: none;
  border: none;
}
div.status .ok {
  color: #234600;
}
div.status,
table tr.ok {
}

div.warning {
  background-image: none;
  border: none;
}
div.warning,
.warning {
  color: #840;
}
div.warning,
table tr.warning {
}

div.error {
  background-image: none;
  border: none;
}
div.error,
.error {
  color: #990000;
}

div.messages ul {
  margin: 0;
  padding: 0;
}
div.messages ul li {
  list-style-image: none;
}

/*
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  */
